*
{
   margin: 0%;
   padding: 0%;
}
html,body
{
   width: 100%;
   height: 100%;
}
h1
{
    text-align: center;
    width: 50%;
    color: red;
    background-color: aqua;
}
p
{
   color: black;
   
}
#box1
{
    background-color: royalblue;
    height: 25%;
    width: 25%;
    text-align: left;
    
}
#box2
{
    background-color: red;
    height: 25%;
    width: 25%;
    text-align: left;
    
}
body
{
   background-color: red;
   justify-content: center;
}
div
{
   display: flex;
}